@import "./styles.scss";

@include scrollbars;

.header {
  display: flex;
  justify-content: flex-start;
  background-color: #fbfbfb;
  color: #0c0c0c;
  font-size: 1.25rem;
  line-height: 1.3;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  padding: 0 1rem;

  @include min-media(mobile) {
    padding: 0.7rem 2rem 0;
  }

  @include min-media(laptop) {
    padding: 0.7rem 3rem;
  }

  .logo {
    margin: 1.2rem 0 0;
    @include min-media(mobile) {
      margin: 0.7rem 0.3rem 0;
    }
    @include min-media(tablet) {
      margin: 0.1rem 0.3rem;
    }

    img {
      height: 1.5rem;
    }
  }

  .menu-icon {
    display: block;
    height: 2rem;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    margin: 0;

    @include min-media(mobile) {
      right: 2rem;
      top: 1.4rem;
    }

    @include min-media(tablet) {
      display: none;
    }
  }
}
