@import "./styles.scss";

@include scrollbars;

.header {
  display: flex;
  justify-content: flex-start;
  background-color: #fbfbfb;
  color: #0c0c0c;
  font-size: 1.25rem;
  line-height: 1.3;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  padding: 1rem;

  .logo {
    margin: 0 1rem;
  }

  .menu-icon {
    display: block;
    font-weight: lighter;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    @include min-media(tablet) {
      display: none;
    }
  }
}
