@import "./styles.scss";

.menu-mobile {
  @include min-media(tablet) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #cfcfcf;
  padding-top: 4rem;
  transform: translateX(+30%);
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 54.97px;
  top: 0;
  left: 0;
  transition: transform 0.7s ease-out;
  z-index: 101;

  @include min-media(mobile) {
    transform: translateX(+40%);
    margin-top: 61.36px;
  }

  @include landscape {
    padding-top: 1rem;
  }

  a {
    color: #cfcfcf;
    font-size: 1.5rem;
    margin: 1.3rem 2rem;
    background: transparent;
    letter-spacing: 0.5rem;
    text-decoration: none;
    transition: color 0.3s linear;

    @include landscape {
      font-size: 1.2rem;
    }
  }
  .selectedLink {
    border-bottom: 1px solid #cfcfcf;
  }
  &.closed {
    transform: translateX(+100%);
  }

  .menu-footer {
    position: relative;
    font-size: 1rem;
    line-height: 1rem;
    bottom: -3rem;
    left: 2rem;
    @include landscape {
      bottom: 0;
    }

    p {
      color: #cfcfcf;
    }
  }
}
