@import "./styles.scss";

@include scrollbars;

.project-page {
  margin: 4.5rem 0;
  animation: fade 1s ease-in-out;

  .project-pic {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
  }

  .project-about {
    display: flex;
    flex-direction: column;
    @include min-media(tablet) {
      flex-direction: row;
    }

    .project-caption {
      margin: 2rem 3rem;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      @include min-media(tablet) {
        margin: 3rem 2rem 2rem 6rem;
      }
    }

    .project-texts {
      display: flex;
      flex-direction: column;
      margin: 1rem 3rem;
      @include min-media(tablet) {
        margin: 3rem 6rem;
      }
      @include min-media(laptop) {
        margin: 3rem 8rem;
      }

      .text-about {
        margin: 1rem 0;
        font-size: 18px;
      }
      .read-more {
        // display: flex;
        margin: 1rem 0;
        font-size: 18px;
        height: 100%;
        opacity: 1;
        transition: opacity 0.8s ease-in-out;
        // transition: max-height 0.5s ease-in-out;
      }

      .read-less {
        height: 0;
        opacity: 0;
      }

      span > strong {
        text-decoration: underline;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        z-index: 100;
        &:hover {
          color: #f4e1dd;
        }
      }
    }
  }
}
