@import "./styles.scss";

@include scrollbars;

.project-page {
  margin: 54.97px 0;

  @include min-media(mobile) {
    margin: 61.36px 0;
  }
  @include min-media(laptop) {
    margin: 3.6rem 0;
  }

  .project-pic {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
  }

  .project-about {
    display: flex;
    flex-direction: column;
    @include min-media(tablet) {
      flex-direction: row;
    }

    .project-caption {
      margin: 2rem 1.5rem 0;
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      @include min-media(tablet) {
        margin: 3rem 2rem 2rem 6rem;
      }
    }

    .project-texts {
      display: flex;
      flex-direction: column;
      margin: 1rem 1.5rem;
      @include min-media(tablet) {
        margin: 3rem 6rem;
      }
      @include min-media(laptop) {
        margin: 3rem 8rem;
      }

      .text-about {
        margin: 1rem 0;
        font-size: 18px;
      }
      .read-more {
        // display: flex;
        margin: 1rem 0;
        font-size: 18px;
        height: 100%;
        opacity: 1;
        transition: opacity 0.8s ease-in-out;
        // transition: max-height 0.5s ease-in-out;
      }

      .read-less {
        height: 0;
        opacity: 0;
      }

      span > strong {
        text-decoration: underline;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        z-index: 100;
        &:hover {
          color: #f4e1dd;
        }
      }
    }
  }

  .project-gallery {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @include min-media(tablet) {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .project-image-wrapper {
      position: relative;
      display: grid;
      color: black;
      transition: all 1s;
      &::before {
        // for apsect ratio
        content: "";
        display: block;
        padding-bottom: 100%;
        grid-area: 1 / 1 / 2 / 2;
      }

      img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        grid-area: 1 / 1 / 2 / 2;
      }
    }
  }

  #lightbox {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(41, 41, 41, 0.8);

    .img-wrapper {
      position: relative;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 0 0 0;
      width: 100%;
      overflow-y: scroll;
      @include min-media(mobile) {
        width: 90%;
      }
      @include min-media(tablet) {
        width: 70%;
      }
      @include min-media(laptop) {
        width: 50%;
      }

      #lightbox-img {
        width: 100%;
        object-fit: fill;
      }
    }
  }
}
