@import "./styles.scss";

@include scrollbars;

.container {
  margin: 54.97px 0.5rem;

  @include min-media(mobile) {
    margin: 61.36px 2rem;
  }
  @include min-media(laptop) {
    margin: 3.6rem 3rem;
  }

  .grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @include min-media(mobile) {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    @include min-media(laptop) {
      grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    }

    .wrapper {
      position: relative;
      display: grid;
      color: #ffffff;
      transition: all 1s;

      &::before {
        // for apsect ratio
        content: "";
        display: block;
        padding-bottom: 100%;
        grid-area: 1 / 1 / 2 / 2;
      }

      &::after {
        content: "\A";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: all 1s;
        -webkit-transition: all 1s;
      }

      &:hover:after {
        opacity: 1;
      }

      &:hover img {
        opacity: 0.4;
        transition: 0.3s;
      }

      &:hover figcaption {
        opacity: 1;
        text-align: left;
        text-shadow: 1px 1px rgba(25, 25, 25, 0.3);
      }

      .inner-pic {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        grid-area: 1 / 1 / 2 / 2;
      }
      figcaption {
        opacity: 0;
        position: absolute;
        transition: opacity 1.2s ease-in-out;
        text-decoration: underline;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        z-index: 3;

        @include min-media(tablet) {
          font-size: 1.3rem;
        }
        @include min-media(laptop) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
